---
const { platform, username } = Astro.props;
---

{
  platform === "bandcamp" ? (
    <a
      class="button"
      href={`https://${username}.${platform}.com/`}
      target="_blank"
    >
      {platform}
    </a>
  ) : platform === "bluesky" ? (
    <a
      class="button"
      href={`https://bsky.app/profile/${username}.bsky.social`}
      target="_blank"
    >
      {platform}
    </a>
  ) : (
    <a
      class="button"
      href={`https://${platform}.com/${username}`}
      target="_blank"
    >
      {platform}
    </a>
  )
}

<style>
  a {
    padding: 0.5rem 1rem;
    color: var(--color-secondary);
    background-color: var(--color-text);
    text-decoration: none;
    font-size: var(--text-small);
  }
</style>
